#contact{
    text-align: center;
}
#contact .cropped{
    background-color: #0D0D0D;
}

#contact img{
    position: relative;
}

.main-title{
    font-family: 'Pretendard';
    font-weight: 700;
    color: #D6FF01;
    font-size: min(5.7vw,32px);
    line-height: 150%;
    letter-spacing: -0.6px;
    margin-top: -400px;
    margin-bottom: 22px;
    /* max-width: 438px;*/
    min-width: min(100vw,300px);
}
.sub-title{
    font-family: 'Pretendard';
    font-weight: 400;
    color: #ffffff;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.6px;
}

.main-text{
    position: absolute;
    left: 50%;
    transform: translate( -50%, -50% );
}