.css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root {
    background-color: #141414;
}




.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input{
    color: #D6FF01;
}


#demo-multiple-name-label {
    color: #D6FF01;
}

.css-hfutr2-MuiSvgIcon-root-MuiSelect-icon > path{
    fill: #D6FF01;
}
.css-bpeome-MuiSvgIcon-root-MuiSelect-icon > path{
    fill: #D6FF01;
}

.css-1d3z3hw-MuiOutlinedInput-notchedOutline{
    border: 1px solid none;
}

.MuiOutlinedInput-notchedOutline .css-1d3z3hw-MuiOutlinedInput-notchedOutline{
    border: none;
}

#demo-multiple-name{
    border: 1px solid #6F6F6F;
}

.css-1d3z3hw-MuiOutlinedInput-notchedOutline{
    border: 1px solid #D6FF01
}


.css-6hp17o-MuiList-root-MuiMenu-list{
    background-color: #141414;
    color: white;
}

/* .css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root.Mui-selected {
    background-color: rgba(214, 255, 1, 0.5);
} */

.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root.Mui-selected {
    background-color: red;
}



.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root{
    color: aqua;
}

.Mui-selected{
    background-color: yellow;
}

.MuiSelect-multiple{
    background-color: pink;
}