.page1-frame{
    background-color: #171717;
}

#service_introduce{
    margin-bottom: 11px;
    font-weight: 700;
    text-align: center;
    overflow: hidden;
    
}
#service_introduce .service_introduce_main_title{
    font-size: 36px;
    margin-top: 170px;
    font-weight: 700;
    color: #D6FF01;
    font-family: Pretendard;
}

#service_introduce .service_introduce_order{
    margin-top: 63px;
    margin-bottom: 5px;
    font-size: 14px;
    color: #D6FF01;
    font-weight: 500;
    font-family: Pretendard;
}

#service_introduce .service_introduce_title{
    font-size: 24px;
    color: #ffffff;
    font-weight: 700;
    margin-bottom: 13px;
    font-family: Pretendard;
}

#service_introduce .service_introduce_content{
    font-size: 16px;
    color: #EFEFEF;
    font-weight: 500;

    font-family: Pretendard;
    line-height: 24px;
}

.service_introduce_circle{
    box-sizing: border-box;
    border: 1px solid;
    border-image: linear-gradient(to right, #fbfcb9be, #ffcdf3aa, #65d3ffaa);
    border-image-slice: 1;
    width: 1400px;
    height: 700px;
    margin-top: -600px;
    border-radius: 0 0 900px 900px;
}

/* .service_introduce_circle{
    box-sizing: border-box;
    border: 5px solid;
    border-radius: 20px;
    border-image: linear-gradient(to right, #fbfcb9be, #ffcdf3aa, #65d3ffaa);
    border-image-slice: 1;
    margin: 10px;
    width: 200px;
    height: 100px;
} */

.greenHoverButton{
  width: 260px;
  height: 44px;
  box-sizing: border-box;
  position: relative;
  background: #141414;
  border: 1px solid #6F6F6F;
  border-radius: 70px;
  color: #D6FF01;
  /* float: left; */
  margin: 0 auto;
  margin-bottom: 5px;
}

.greenHoverButton>div{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 25px;
    transition: .5s ease;
    border-radius: 70px;
    font-size: 16px;
    font-weight: 500;
}

.greenHoverButton input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    margin: 0px;
}

.bottom-20{
    margin-bottom: 11px;
}
.bottom-63{
    margin-bottom: 63px;
}


.greenHoverButton input[type=button]:hover ~ div {
    background: linear-gradient(180deg, #D6FF01 0%, #F5EA18 100%);
    color: #141414;
}

.schedule_report{
    width: 198px;
}

.button-col{
    padding-top: 9px;
}

.service_introduce_recommend{
    margin-top: 490px;
}

.service_introduce_recommend h1{
    font-weight: 700;
    font-family: Pretendard;
    font-size: 24px;
    margin-bottom: 39px;
}

.service_introduce_recommend img{
    width: 340px;
    height: 157px;
}

.service_introduce_recommend .t1{
    margin-top: 15px;
    font-weight: 500;
    font-family: Pretendard;
    font-size: 16px
}

.lineGraient{
    border-width: 0.5px;
    border-style: solid;
    border-image: 
        linear-gradient(
        to top, 
        #D6FF01, 
        rgba(0, 0, 0, 0)
        ) 1 100%;
    height:352px;
    left: 50%;
    position: absolute; 
}

.lineGraientCircle{
    background: #D6FF01;
    box-shadow: 0px 0px 4px #D6FF01, 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 10px;
    height: 10px;
    margin-top: 352px;
    left: calc(50% - 10px/2 + 0.5px);
    position: absolute;
    border-radius: 90px 90px 90px 90px;

}
