#service_summary_image{
    margin-top: 55px;
}

.service_summary_cropped .main-background{
    width: 100%;
    height: 585px;
    object-fit: cover;
    /* position: relative; */
    vertical-align: bottom;
}


/* .service_summary_cropped .logo{
    width: 264px;
    height: 53px;
    object-fit: cover;
} */

/* .service_summary_cropped > .main-image-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50% );
} */