#section1__title{
    margin-top: 115px;
    margin-bottom: 11px;
    font-weight: 700;
    text-align: center;
}
#section1__title .t1{
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: -0.6px;
    font-size: min(8vw,40px);
    margin-bottom: 10px;
}

#section1__title .t2{
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 500;
    margin-bottom: 35px;
    line-height: 150%;
    letter-spacing: -0.6px;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.5);
}

#section1__title .t3{
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: -0.6px;

    font-size: min(4vw,28px);
    margin-bottom: 10px;
}

#section1__title .t4{
    font-size: 28px;
    margin-bottom: 71px;
}


.job-group-element title{
    margin-right: 10px;
}

#job{
    color: rgba(214, 255, 1, 1);
}

.inform{
    color: rgba(245, 234, 24, 1);
}